.sight-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, min-content);
    border: 1px solid #878787;
    align-self: stretch;
    background-color: #FDF6EF;
}

.sight-card__image {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 0.85;
}

.sight-card__inforamation {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    max-height: 100%;
}

.sight-card__title {
    color: #100D09;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 8px;
}

.sight-card__description {
    color: #878787;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 16px;
    /* flex: 1; */
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sight-card__link {
    display: inline-flex;
    align-self: flex-end;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #100D09;
    justify-self: flex-end;
    margin-top: auto;
}

.sight-card__link-vertical-line {
    height: 100%;
    width: 1px;
    background: #100D09;
}

.sight-card__link-text {
    color: #878787;
    padding: 16px 0;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.sight-card__link-image {
    width: 16px;
    aspect-ratio: 1;
}