* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    transition: 300ms;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.text--red {
    color: #ED7575
}

.text--ibm-200 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 200;
}

.text--ibm-400 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

.text--ibm-300 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.text--roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.text--roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}